* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  display: flex;
  align-items: center;
  justify-content: center;  } */
  /* background-color: rgb(10, 10, 14); */

/* 
section {
  display: flex;
  border: 1px solid;
  width: 360px;
  height: 620px;
  background-color: white;
  border-radius: 10px;} */
  /* box-shadow: 0 0 15px #5cb646; */

  
 